In [31]:
import pandas as pd

# 1. Import the dataset and clean column names
df = pd.read_csv("Mumbai_Property.csv")

# Clean column names by removing spaces and special characters, and renaming for clarity
df.columns = df.columns.str.strip()  # Remove leading/trailing spaces
df.columns = df.columns.str.replace(' ', '_')  # Replace spaces with underscores
df.columns = df.columns.str.replace('[^a-zA-Z0-9_]', '', regex=True)  # Remove special characters

In [32]:
df.head()

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,0 to 1 Year,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,1 to 5 Year,Ready To Move,Super Built Up Area,1900.0,12631,8,3,3,240.0
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,10+ Year,Ready To Move,Super Built Up Area,595.0,15966,3,1,2,95.0
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,5 to 10 Year,Ready To Move,Built Up Area,1450.0,25862,1,3,3,375.0
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,5 to 10 Year,Ready To Move,Carpet Area,876.0,39954,5,2,2,350.0

In [33]:
df.shape

(2580, 12)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Property_Name  2580 non-null   object
 1   Location       2580 non-null   object
 2   Region         2580 non-null   object
 3   Property_Age   2580 non-null   object
 4   Availability   2580 non-null   object
 5   Area_Tpye      2580 non-null   object
 6   Area_SqFt      2580 non-null   float64
 7   Rate_SqFt      2580 non-null   int64
 8   Floor_No       2580 non-null   int64
 9   Bedroom        2580 non-null   int64
 10  Bathroom       2580 non-null   int64
 11  Price_Lakh     2580 non-null   float64
dtypes: float64(2), int64(4), object(6)
memory usage: 242.0+ KB

In [35]:

# 2. Filter based on a specific property age:
filtered_by_property_Age = df[df['Property_Age'] == '0 to 1 Year']

# 3. Filter based on a specific location (e.g., "Manpada Thane Mumbai"):
filtered_by_location = df[df['Location'] == 'Manpada Thane Mumbai']

# 4. Combine multiple filters 
filtered_combined = df[(df['Property_Age'] == '0 to 1 Year') & (df['Location'] == 'Manpada Thane Mumbai')]

# Print or use the filtered data as needed

print(filtered_by_property_Age)
print(filtered_by_location)
print(filtered_combined)

                 Property_Name  \
0            Omkar Alta Monte
9          Sunteck West World
20      Lodha Palava Downtown
26         Puraniks Tokyo Bay
35          Indiabulls Greens
...                        ...
2568           Satyam Harmony
2569           Satyam Harmony
2571  Lodha Codename Bullseye
2576               Guru Anant
2579  Gurukrupa Tulsi Heights

                                              Location  \
0                        W E Highway Malad East Mumbai
9     701 702 Naigaon East Mira Road And Beyond Mumbai
20                          Dombivli East Thane Mumbai
26                         Kasar vadavali Thane Mumbai
35                           Panvel Navi Mumbai Mumbai
...                                                ...
2568                  Koparkhairane Navi Mumbai Mumbai
2569                  Koparkhairane Navi Mumbai Mumbai
2571   1503 Mira Road East Mira Road And Beyond Mumbai
2576                  Sector 2 Ulwe Navi Mumbai Mumbai
2579                           Ulwe Navi Mumbai Mumbai

                         Region Property_Age   Availability  \
0                  Malad Mumbai  0 to 1 Year  Ready To Move
9                     Mira Road  0 to 1 Year  Ready To Move
20               Dombivli Thane  0 to 1 Year  Ready To Move
26         Kasar Vadavali Thane  0 to 1 Year  Ready To Move
35           Panvel Navi-Mumbai  0 to 1 Year  Ready To Move
...                         ...          ...            ...
2568  Koparkhairane Navi-Mumbai  0 to 1 Year  Ready To Move
2569  Koparkhairane Navi-Mumbai  0 to 1 Year  Ready To Move
2571                  Mira Road  0 to 1 Year  Ready To Move
2576           Ulwe Navi-Mumbai  0 to 1 Year  Ready To Move
2579           Ulwe Navi-Mumbai  0 to 1 Year  Ready To Move

                Area_Tpye  Area_SqFt  Rate_SqFt  Floor_No  Bedroom  Bathroom  \
0     Super Built Up Area     2900.0      17241        14        3         4
9             Carpet Area      788.0      10250         7        2         4
20            Carpet Area      398.0      10552        11        1         2
26    Super Built Up Area     1066.0       9193        13        2         2
35    Super Built Up Area     1690.0       8076        16        3         3
...                   ...        ...        ...       ...      ...       ...
2568          Carpet Area      890.0      21910        17        3         2
2569        Built Up Area     1075.0      13023        18        2         2
2571          Carpet Area      453.0      14348        15        1         1
2576        Built Up Area     1090.0       8073        11        2         2
2579        Built Up Area     1100.0       8636         4        2         2

      Price_Lakh
0          500.0
9           86.0
20          42.0
26          98.0
35         105.0
...          ...
2568       195.0
2569       140.0
2571        65.0
2576        88.0
2579        95.0

[729 rows x 12 columns]
                     Property_Name              Location         Region  \
1     T Bhimjyani Neelkanth Woods   Manpada Thane Mumbai  Manpada Thane
5                    Varun Garden   Manpada Thane Mumbai  Manpada Thane
115                    Acme Ozone   Manpada Thane Mumbai  Manpada Thane
1543                   Acme Ozone   Manpada Thane Mumbai  Manpada Thane
1855           Kabra Happy Valley   Manpada Thane Mumbai  Manpada Thane
1911                   Acme Ozone   Manpada Thane Mumbai  Manpada Thane
1912                   Acme Ozone   Manpada Thane Mumbai  Manpada Thane
2076                Dosti Imperia   Manpada Thane Mumbai  Manpada Thane
2079             Neelkanth Greens   Manpada Thane Mumbai  Manpada Thane
2082              Kalpataru Hills   Manpada Thane Mumbai  Manpada Thane
2083  T Bhimjyani Neelkanth Woods   Manpada Thane Mumbai  Manpada Thane
2084  T Bhimjyani Neelkanth Woods   Manpada Thane Mumbai  Manpada Thane
2085             Neelkanth Greens   Manpada Thane Mumbai  Manpada Thane
2093                   Acme Ozone   Manpada Thane Mumbai  Manpada Thane
2094             Neelkanth Greens   Manpada Thane Mumbai  Manpada Thane
2209        Luxora Crystal Spires   Manpada Thane Mumbai  Manpada Thane
2305        Luxora Crystal Spires   Manpada Thane Mumbai  Manpada Thane
2309                   Acme Ozone   Manpada Thane Mumbai  Manpada Thane
2311                   Acme Ozone   Manpada Thane Mumbai  Manpada Thane
2312        Kabra Shubharambh CHS   Manpada Thane Mumbai  Manpada Thane
2314                   Acme Ozone   Manpada Thane Mumbai  Manpada Thane
2317              Unnamed Property  Manpada Thane Mumbai  Manpada Thane
2390                   Acme Ozone   Manpada Thane Mumbai  Manpada Thane
2428                   Acme Ozone   Manpada Thane Mumbai  Manpada Thane

      Property_Age   Availability            Area_Tpye  Area_SqFt  Rate_SqFt  \
1      1 to 5 Year  Ready To Move  Super Built Up Area     1900.0      12631
5     5 to 10 Year  Ready To Move  Super Built Up Area     1500.0      14666
115    1 to 5 Year  Ready To Move          Carpet Area      989.0      17189
1543  5 to 10 Year  Ready To Move        Built Up Area     1004.0      12051
1855      10+ Year  Ready To Move  Super Built Up Area      575.0      12434
1911   0 to 1 Year  Ready To Move          Carpet Area      712.0      18960
1912   0 to 1 Year  Ready To Move          Carpet Area     1041.0      17291
2076   1 to 5 Year  Ready To Move  Super Built Up Area     1750.0      14285
2079  5 to 10 Year  Ready To Move  Super Built Up Area     1800.0      13888
2082  5 to 10 Year  Ready To Move  Super Built Up Area      900.0      12333
2083   1 to 5 Year  Ready To Move  Super Built Up Area     1300.0      14230
2084   1 to 5 Year  Ready To Move  Super Built Up Area     1900.0      13421
2085  5 to 10 Year  Ready To Move  Super Built Up Area      900.0      12222
2093  5 to 10 Year  Ready To Move          Carpet Area      700.0      17142
2094  5 to 10 Year  Ready To Move  Super Built Up Area     1100.0      13636
2209   0 to 1 Year  Ready To Move        Built Up Area     2500.0      22067
2305   0 to 1 Year  Ready To Move          Carpet Area     1050.0      20476
2309   1 to 5 Year  Ready To Move        Built Up Area     1581.0      10752
2311   1 to 5 Year  Ready To Move        Built Up Area     1500.0      11333
2312  5 to 10 Year  Ready To Move        Built Up Area      585.0      11965
2314   1 to 5 Year  Ready To Move        Built Up Area      958.0      12734
2317      10+ Year  Ready To Move        Built Up Area     1500.0      10333
2390   1 to 5 Year  Ready To Move          Carpet Area      680.0      19117
2428   1 to 5 Year  Ready To Move          Carpet Area     1057.0      21286

      Floor_No  Bedroom  Bathroom  Price_Lakh
1            8        3         3       240.0
5            7        3         3       220.0
115         20        3         3       170.0
1543        17        2         2       121.0
1855         7        1         1        71.5
1911         7        2         2       135.0
1912        12        3         3       180.0
2076        19        3         3       250.0
2079        26        3         3       250.0
2082         8        2         2       111.0
2083        11        3         2       185.0
2084         3        3         3       255.0
2085         4        2         2       110.0
2093        16        2         3       120.0
2094        23        2         2       150.0
2209         3        3         3       395.0
2305         5        3         2       215.0
2309         7        3         3       170.0
2311         7        3         3       170.0
2312         6        1         1        70.0
2314        24        2         2       122.0
2317        12        3         3       155.0
2390        12        2         2       130.0
2428         3        4         4       225.0
               Property_Name              Location         Region  \
1911             Acme Ozone   Manpada Thane Mumbai  Manpada Thane
1912             Acme Ozone   Manpada Thane Mumbai  Manpada Thane
2209  Luxora Crystal Spires   Manpada Thane Mumbai  Manpada Thane
2305  Luxora Crystal Spires   Manpada Thane Mumbai  Manpada Thane

     Property_Age   Availability      Area_Tpye  Area_SqFt  Rate_SqFt  \
1911  0 to 1 Year  Ready To Move    Carpet Area      712.0      18960
1912  0 to 1 Year  Ready To Move    Carpet Area     1041.0      17291
2209  0 to 1 Year  Ready To Move  Built Up Area     2500.0      22067
2305  0 to 1 Year  Ready To Move    Carpet Area     1050.0      20476

      Floor_No  Bedroom  Bathroom  Price_Lakh
1911         7        2         2       135.0
1912        12        3         3       180.0
2209         3        3         3       395.0
2305         5        3         2       215.0

In [38]:
# 2. Handle missing values:
# You have a few options to deal with missing values, depending on your dataset:
# a. Imputation (filling missing values with a suitable strategy)
# Example: Fill missing numerical values with the mean, and missing categorical values with a mode
df['Bedroom'].fillna(df['Bedroom'].mean(), inplace=True)
# df['Categorical_Column'].fillna(df['Categorical_Column'].mode()[0], inplace=True)

# b. Removing rows with missing values
# Example: Remove rows with any missing value in any column
df.dropna(axis=0, how='any', inplace=True)

# c. Removing columns with missing values
# Example: Remove columns with more than 30% missing values
threshold = len(df) * 0.3
df.dropna(thresh=threshold, axis=1, inplace=True)

In [39]:
df.head()

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,0 to 1 Year,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,1 to 5 Year,Ready To Move,Super Built Up Area,1900.0,12631,8,3,3,240.0
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,10+ Year,Ready To Move,Super Built Up Area,595.0,15966,3,1,2,95.0
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,5 to 10 Year,Ready To Move,Built Up Area,1450.0,25862,1,3,3,375.0
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,5 to 10 Year,Ready To Move,Carpet Area,876.0,39954,5,2,2,350.0

In [23]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Sample DataFrame with a categorical variable 'Location'
data = {'Location': ['W E Highway Malad East Mumbai', 'Manpada Thane Mumbai', 'W E Highway Malad East Mumbai', 'Dahisar West Mumbai	', 'Manpada Thane Mumbai']}
df = pd.DataFrame(data)

# One-Hot Encoding
one_hot_encoded = pd.get_dummies(df, columns=['Location'], prefix=['Location'])
print("One-Hot Encoding:")
print(one_hot_encoded)

# Label Encoding
label_encoder = LabelEncoder()
df['Location_LabelEncoded'] = label_encoder.fit_transform(df['Location'])
print("\nLabel Encoding:")
print(df[['Location', 'Location_LabelEncoded']])


# One-Hot Encoding: pd.get_dummies() is used to create binary columns for each category in the 'Location' column. This method is useful when you don't want to impose any ordinal relationship between categories.

# Label Encoding: The LabelEncoder from scikit-learn is used to encode categorical values into numerical labels. Each unique category is assigned a unique integer label. This method can be suitable when there's an ordinal relationship between categories.


# The purpose of encoding categorical variables in data analysis and machine learning is to represent categorical data in a numerical format that can be used for modeling or analysis. Categorical variables are variables that represent categories or labels, such as colors, cities, property types, or any non-numeric values.

One-Hot Encoding:
   Location_Dahisar West Mumbai\t  Location_Manpada Thane Mumbai  \
0                               0                              0
1                               0                              1
2                               0                              0
3                               1                              0
4                               0                              1

   Location_W E Highway Malad East Mumbai
0                                       1
1                                       0
2                                       1
3                                       0
4                                       0

Label Encoding:
                        Location  Location_LabelEncoded
0  W E Highway Malad East Mumbai                      2
1           Manpada Thane Mumbai                      1
2  W E Highway Malad East Mumbai                      2
3          Dahisar West Mumbai\t                      0
4           Manpada Thane Mumbai                      1